/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-breadcrumb{
	ul{
		height: 137px;
		padding-top: 50px;
	}
	li{
		display: inline-block;
		&+li:before{
			content: '>';
			font-size: 1.2rem;
			color: #FCB215;
		}
	}
	a{
		text-decoration: none;
		font-size: 1.2rem;
		color: #FCB215;
	}
}