/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
	max-width: 1500px;
    margin: auto;
	//-------------------------------------------------------
	&__inner{
		width: 1000px;
		margin: auto;
	}
	//-------------------------------------------------------
	&__sitemap{
		background: url('../image/common/bg-sitemap1.png') no-repeat;
		background-size: cover;
		position: relative;
		padding-top: 80px;
		padding-bottom: 50px;
		ul{
			display: flex;
			justify-content: space-between;
			ul{
				display: flex;
				flex-direction: column;
			}
			a{
				text-decoration: none;
				color: #fff;
				font-size: 1.3rem;
			}
		}
		ul.top{
			padding-bottom: 70px;
			li:first-child{
				position: relative;
				a{
					padding-left: 26px;
				}
				&:before{
					content: '';
					position: absolute;
					background: url('../image/common/icon-home.png') no-repeat;
					width: 21px;
					height: 20px;
					top: 35%;
					transform: translateY(-50%);
				}
			}
		}
		ul.bottom{
			li{
				width: 167px;
			}
			li.social{
				width: 234px;
				background: url('../image/common/line-large.png') no-repeat top;
				li{
					background: url('../image/common/line-large.png') no-repeat bottom;
					width: 100%;
				    padding: 15px 0;
				}
				a{
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 10px;
				}
			}
			ul.block{
				margin-bottom: 15px;
				li:first-child{
					background: url('../image/common/line.png') no-repeat bottom;
					padding-bottom: 2px;
					margin-bottom: 5px;
					a{
						display: flex;
						justify-content: space-between;
						align-items: center;
						font-size: 2rem;
						span{
							font-size: 1rem;
						}
					}
				}
				li:not(:first-child){
					padding-left: 10px;
					padding-top: 3px;
				}
				&-1{
					margin-top: 75px;
					li{
						padding-bottom: 10px;
					}
				}
			}
		}
		.c-backtop{
			cursor: pointer;
		}
	}
	//-------------------------------------------------------
	&__info{
		height: 140px;
		padding: 15px 0;
		&--logo{
			width: 333px;
			height: 110px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-left: solid 1px #00A9AC;
			border-right: solid 1px #00A9AC;
		}
		&--contact{
			width: 669px;
			font-size: 1.3rem;
			display: flex;
			padding: 22px 0;
			justify-content: space-around;
			border-right: solid 1px #00A9AC;
			p{
				@include line-height(13,25);
			}
			button{
				height: 23px;
			}
		}
	}
	//-------------------------------------------------------
	&__copyright{
		background: url('../image/common/img_footer.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		height: 237px;
		font-size: 1.5rem;
		color: #fff;
		.l-flex{
			justify-content: flex-end;
			align-items: flex-end;
			height: 237px;
		}
		p{
			padding-bottom: 10px;
		}
	}
}