/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header{
}
/*
------------------------------------------------------------*/
.c-gnavi{
	width: 216px;
	height: 596px;
	padding-top: 55px;
	position: fixed;
	z-index: 99999999999;
	text-align: center;
	opacity: 1;
	background: url('../image/common/menu_bg.png') no-repeat;
	transition: all .25s;
	ul.u-vertical{
		display: flex;
    	justify-content: center;
    	margin-top: 45px;
    	li{
			width: 20px;
			word-break: break-all;
	  		line-height: 1;
	  		margin: 0 4px;
		}
	}
	ul.u-normal{
		text-align: left;
		position: absolute;
		bottom: 35px;
		left: 35px;
		li:not(:last-child){
			padding-bottom: 16px;
		}
	}
	a{
		text-decoration: none;
		color: #000;
		font-size: 1.3rem;
	}
	.item-home{
		position: absolute;
		top: 5px;
	    right: 0;
	    margin-right: -35px;
	}
}
.is-hide{
	opacity: 0;
	z-index: -99999999999;
}
/*
------------------------------------------------------------*/
.c-contact{
	position: fixed;
	top: 16%;
    left: 50%;
    margin-left: 520px;
    margin-top: -60px;
    z-index: 99999;
}