/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	min-width: 1300px;
	&.page-top{
		background: url('../image/top/bg1.jpg') no-repeat;
		background-position: top center;
		background-size: 1500px auto;
	}
	&.page-flow{
		background: url('../image/flow/bg.jpg') no-repeat;
		background-position: top center;
		background-size: auto;
	}
	&.page-qa{
		background: url('../image/qa/bg.png') no-repeat;
		background-position: top center;
		background-size: auto;
		.c-footer{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				background: url('../image/qa/bg1.png') no-repeat;
				background-position: center;
				background-size: 1500px auto;
			    width: 100%;
			    height: 705px;
			    left: 0;
			    top: 0;
			    margin-top: -703px;
			    z-index: -1;
			}
		}
	}
}
.l-container{
	width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.l-side{
	width: 260px;
}
.l-main{
	width: 715px;
	margin-left: 27px;
}
.l-flex{
	width: 100%;
	height: 100%;
	display: flex;
}
