/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-flow1{
	&__title{
		padding-bottom: 40px;
	}
	&__image{
		padding-bottom: 40px;
		li{
			padding-bottom: 70px;
		}
	}
	&__text{
		padding-bottom: 56px;
		p{
			font-size: 1.4rem;
			text-align: center;
		}
		p:not(:last-child){
			padding-bottom: 25px;
		}
	}
}
/*
------------------------------------------------------------*/
.p-flow2{
	padding-bottom: 145px;
	&__block{
		padding-bottom: 100px;
	}
	&__title{
		padding-bottom: 20px;
		h3{
			font-size: 3rem;
		}
	}
	&__text{
		p{
			font-size: 1.4rem;
		}
		p:not(:last-child){
			padding-bottom: 28px;
		}
	}
}
/*
------------------------------------------------------------*/
.p-flow3{
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	padding-bottom: 170px;
	a{
		margin-right: 15px;
	}
}