/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-qa1{
	margin-bottom: 415px;
	&__title{
		padding-bottom: 40px;
	}
}
/*
------------------------------------------------------------*/
.p-qa2{
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	margin-bottom: 160px;
	a{
		margin-right: 15px;
	}
}
.p-qa{
}