/*------------------------------------------------------------
index
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-top1{
	height: 700px;
	margin-bottom: 40px;
	//-------------------------------------------------------
	&__title{
		padding-top: 70px;
		padding-bottom: 40px;
	}
	//-------------------------------------------------------
	&__slide{
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
		width: 1320px;
		height: 520px;
		img{
			width: 100%;
			height: auto;
		}
	}
}
/*
------------------------------------------------------------*/
.p-top2{
	padding-bottom: 61px;
	overflow-x: hidden;
	background: transparent;
	//-------------------------------------------------------
	&__title{
		padding-bottom: 37px;
		h2{
			font-size: 4.3rem;
			text-align: center;
		}
	}
	//-------------------------------------------------------
	&__text{
		p{
			text-align: center;
			font-size: 1.4rem;
			@include line-height(14,22);
		}
	}
}
/*
------------------------------------------------------------*/
.p-top3{
	display: flex;
	padding-bottom: 100px;
	//-------------------------------------------------------
	&__image{
		margin-left: -86px;
		position: relative;
	}
	//-------------------------------------------------------
	&__content{
		position: relative;
		padding-left: 40px;
	}
	//-------------------------------------------------------
	&__title{
		padding-top: 72px;
		padding-bottom: 30px
	}
	//-------------------------------------------------------
	&__text{
		padding-right: 30px;
		p{
			font-size: 1.4rem;
			@include line-height(14,24.5);
			padding-bottom: 20px;
		}
	}
	//-------------------------------------------------------
	&__button{
		position: absolute;
		right: 10px;
		bottom: -36px;
	}
	//-------------------------------------------------------
	&__avatar{
		position: absolute;
		right: 0;
	    top: 0;
	    margin-top: -115px;
	}
}
/*
------------------------------------------------------------*/
.p-top4{
	display: flex;
	justify-content: space-between;
	padding-bottom: 63px;
	//-------------------------------------------------------
	&__image{
		position: relative;
		margin-top: 120px;
	}
	//-------------------------------------------------------
	&__content{
		width: 326px;
	}
	//-------------------------------------------------------
	&__title{
		padding-top: 54px;
		padding-bottom: 43px;
		p{
			padding-bottom: 32px;
		}
	}
	//-------------------------------------------------------
	&__text{
		p{
			font-size: 1.4rem;
			@include line-height(14,24.5);
			padding-bottom: 20px;
		}
	}
	//-------------------------------------------------------
	&__button{
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -19px;
	}
}
/*
------------------------------------------------------------*/
.p-top5{
	padding-bottom: 260px;
	position: relative;
	//-------------------------------------------------------
	&__title{
		padding-bottom: 20px;
		p{
			padding-bottom: 20px;
		}
	}
	//-------------------------------------------------------
	&__image{
		margin: auto;
	}
	.c-gallery{
		div:last-child{
			margin: auto;
			padding-top: 20px;
		}
	}
}
/*
------------------------------------------------------------*/
.p-top6{
	padding-bottom: 200px;
	//-------------------------------------------------------
	&__title{
		p{
			padding-bottom: 38px;
		}
	}
	//-------------------------------------------------------
	&__text{
		padding-bottom: 30px;
		p{
			font-size: 1.4rem;
		}
	}
	//-------------------------------------------------------
	&__image{
		display: flex;
		flex-direction: column;
		img{
			margin-bottom: 40px;
			&:last-child{
				margin: auto;
				margin-bottom: 0px;
			}
		}
	}
	//-------------------------------------------------------
	&__button{
		padding-left: 105px;
	}
}
/*
------------------------------------------------------------*/
.p-top7{
	display: flex;
	justify-content: flex-end;
	padding-bottom: 245px;
	//-------------------------------------------------------
	&__title{
		padding-bottom: 25px;
		padding-left: 25px;
	}
	//-------------------------------------------------------
	&__box{
		width: 500px;
		height: 520px;
		background: #d6eef0;
		border-radius: 20px;
		padding: 30px 20px;
		position: relative;
	}
	//-------------------------------------------------------
	&__content{
		background: #fff;
		border-radius: 20px;
		padding: 25px;
		@include line-height(14, 24.5);
		&--title{
			padding-bottom: 15px;
			h4{
				font-size: 2.1rem;
			}
		}
		&--text{
			p{
				font-size: 1.4rem;
				text-indent: 1.2rem;
				padding-bottom: 25px;
				&:last-child{
					//padding-bottom: 0;
				}
			}
		}
	}
	//-------------------------------------------------------
	&__button{
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 40px;
    	margin-top: -30px;
	}
}
/*
------------------------------------------------------------*/
.p-top8{
	padding-bottom: 115px;
	//-------------------------------------------------------
	&__title{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 20px;
	}
	//-------------------------------------------------------
	&__button{
		margin-left: 60px;
	}
	//-------------------------------------------------------
	&__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	//-------------------------------------------------------
	a{
		text-decoration: none;
	}
}
/*
------------------------------------------------------------*/
.p-top9{
	padding-bottom: 75px;
	&__title{
		padding-bottom: 28px;
	}
	&__text{
		padding-bottom: 35px;
		p{
			font-size: 3rem;
			letter-spacing: -2px;
			//@include line-height(30, 44);
		}
	}
	&__form{
		padding: 0 15px;
		input[type=text],
		input[type=email],
		input[type=number],
		textarea{
			display: block;
			width: 100%;
			border: solid 1px #999999;
			border-radius: 5px;
			padding: 11px;
		}
		textarea{
			resize: none;
			height: 192px;
		}
		label{
			font-size: 1.6rem;
		}
		.u-required{
			font-size: 1.2rem;
			color: #AA525E;
		}
		.checkgroup{
			label{
				margin-right: 15px;
			}
		}
		li{
			padding-bottom: 20px;
		}
	}
}
/*
------------------------------------------------------------*/
.p-top10{
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	padding-bottom: 134px;
	a{
		margin-right: 15px;
	}
}