/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-btn{
	&--2center{
		display: flex;
		justify-content: space-between;
		div:last-child{
			margin-left: 10px;
		}
	}
}
.c-btn{
	width: 100%;
	a{
		text-decoration: none;
		color: #fff;
		font-size: 1.6rem;
		background: #00A9AC;
		border-radius: 5px;
		text-align: center;
		padding: 7px;
		display: block;
	}
}