/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title{
	h3{
		font-size: 3rem;
		font-weight: normal;
	}
}