/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-gallery{
	display: flex;
	flex-wrap: wrap;
	&__item{
		width: 233px;
		height: 157px;
		margin-right: 3px;
		margin-bottom: 3px;
		img{
			width: 100%;
			height: 157px;
		}
	}
}

.c-card{
	width: 220px;
	margin-bottom: 15px;
	&__image{
		height: 125px;
	}
	&__text{
		color: #000;
		text-align: center;
		padding: 20px 10px;
		h4{
			font-size: 3.6rem;
		}
		p{
			font-size: 1.8rem;
		}
	}
}