/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.slick-dots{
	position: absolute;
	top: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    margin-top: -30px;
    padding-right: 400px;
    //-------------------------------------------------------
    li{
    	position: relative;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;
	    width: 10px;
	    height: 10px;
	    margin: 0 4px;
	    padding: 0;
	    cursor: pointer;
	}
	//-------------------------------------------------------
    button{
    	font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 9px;
	    height: 9px;
	    padding: 0;
	    cursor: pointer;
	    border: 0;
	    border-radius: 50%;
	    outline: none;
	    background: #FCB215;
    }
    //-------------------------------------------------------
    .slick-active{
    	button{
    		background: #00A9AC;
		}
	}
}