/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-accordion{
	li{
		padding-bottom: 42px;
		position: relative;
		transition: all .25s;
		&:hover{
			background-color: #fef6e5;
		}
		&:before{
			content: '';
			position: absolute;
			background: url('../image/qa/line.png') no-repeat;
			width: 716px;
			height: 21px;
			top: 0;
			left: 0;
			margin-top: -10px;
		}
		&:last-child{
			&:after{
				content: '';
				position: absolute;
				background: url('../image/qa/line.png') no-repeat;
				width: 716px;
				height: 21px;
				bottom: 0;
				left: 0;
				margin-bottom: -10px;
			}
		}
	}
	&__button{
		font-size: 2.1rem;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 42px 45px 0;
		span{
			font-size: 3.6rem;
			color: #00A9AC;
			padding-right: 23px;
		}
	}
	&__panel{
		max-height: 0;
		display: flex;
	    overflow: hidden;
	    padding: 0 45px;
	    transition: max-height 0.2s ease-out;
		span{
			font-size: 3.6rem;
			color: #FCB215;
			padding-right: 23px;
		}
	}
	&__text{
		p{
			font-size: 1.4rem;
			margin-top: 18px;
		}
	}
	.active{
		background-color: #fef6e5;
	}
}